body{
    background-image: url(meddia/fish\ 1.png);
}

h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 128px;
    width: 20%;
    color: white;
}
.ENTER {
    position: absolute;
    left: 20%;
    top: 70%;
    transform: translate(-48%, -50%);
    border: 2px solid;
    border-radius: 100px;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    font-size: 3vh;
    font-family: 'customFont';
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.ENTER:hover {
    color: black;
    background-color: #e6e6e6;
}